<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="efstool"
             type="EfsTools.EfsToolsConfigurationSection, EfsTools, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <relativeBindForResources enabled="true" />
  </runtime>

  <efstool port="COM10" baudrate="38400" password="00000000" spc="000000" />
</configuration>